In [6]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [22]:
data=pd.read_csv("C:/Users/Khushal/Desktop/IIC/DA/ML/Salray.csv")

In [23]:
data.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [24]:
X=data.drop(['salary_more_then_100k'],axis=1)
y=data['salary_more_then_100k']

In [25]:
y.head()

0    0
1    0
2    1
3    1
4    0
Name: salary_more_then_100k, dtype: int64

In [26]:
from sklearn.preprocessing import LabelEncoder
le_comp=LabelEncoder()
le_job=LabelEncoder()
le_deg=LabelEncoder()

In [30]:
X['company_n']=le_comp.fit_transform(X['company'])
X['job_n']=le_comp.fit_transform(X['job'])
X['degree_n']=le_comp.fit_transform(X['degree'])

In [31]:
X.head()

  company                  job     degree  company_n  job_n  degree_n
0  google      sales executive  bachelors          2      2         0
1  google      sales executive    masters          2      2         1
2  google     business manager  bachelors          2      0         0
3  google     business manager    masters          2      0         1
4  google  computer programmer  bachelors          2      1         0

In [50]:
from sklearn.model_selection import train_test_split

In [51]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [52]:
from sklearn.tree import DecisionTreeClassifier
mod=DecisionTreeClassifier()

In [53]:
mod.fit(X_train,y_train)
pred=mod.predict(X_test)

In [55]:
from sklearn.metrics import accuracy_score
accuracy_score(pred,y_test)*100

60.0

In [61]:
#checking the prediction
mod.predict([[2,1,0]])

array([0], dtype=int64)