In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
%matplotlib inline

In [4]:
URL=("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
names=("sepal-length","sepal-width","petal-length","petal-width","class")
data=pd.read_csv(URL,names=names)

In [5]:
data.head()

   sepal-length  sepal-width  petal-length  petal-width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [16]:
X=data.iloc[:,:4]
y=data.iloc[:,4]

In [17]:
y.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: class, dtype: object

In [18]:
from sklearn.model_selection import train_test_splittest_split

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.66)

In [61]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [62]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [78]:
X=X.drop(['sepal-length','sepal-width','petal-length','petal-width'],axis=1)

In [79]:
X.head()

   sepal-length_n  sepal-width_n  petal-length_n
0               8             14               4
1               6              9               4
2               4             11               3
3               3             10               5
4               7             15               4

In [23]:
X_train=sc.fit_transform(X_train)
X_test=sc.fit_transform(X_test)

In [28]:
from sklearn.neighbors import KNeighborsClassifier
mod=KNeighborsClassifier()

In [30]:
mod.fit(X_train,y_train)
pred=mod.predict(X_test)

In [46]:
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score

In [47]:
confusion_matrix(pred,y_test)

array([[34,  0,  0],
       [ 0, 29,  2],
       [ 0,  4, 30]], dtype=int64)

In [48]:
accuracy_score(pred,y_test)*100

93.93939393939394

In [49]:
print(classification_report(y_test,pred))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        34
Iris-versicolor       0.94      0.88      0.91        33
 Iris-virginica       0.88      0.94      0.91        32

       accuracy                           0.94        99
      macro avg       0.94      0.94      0.94        99
   weighted avg       0.94      0.94      0.94        99

In [60]:
#checking the prediction
mod.predict([[5.9,3.0,5.1,1.8]])

array(['Iris-virginica'], dtype=object)

In [84]:
X.head()

   sepal-length_n  sepal-width_n  petal-length_n
0               8             14               4
1               6              9               4
2               4             11               3
3               3             10               5
4               7             15               4

In [56]:
y.tail(20)

130    Iris-virginica
131    Iris-virginica
132    Iris-virginica
133    Iris-virginica
134    Iris-virginica
135    Iris-virginica
136    Iris-virginica
137    Iris-virginica
138    Iris-virginica
139    Iris-virginica
140    Iris-virginica
141    Iris-virginica
142    Iris-virginica
143    Iris-virginica
144    Iris-virginica
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: class, dtype: object